@import '../variables.scss';
@import '../mixins.scss';

$rotate-angle: 6deg;

.ContactMe {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-direction: column;
  position: absolute;
  height: 6rem;
  width: 12rem;
  border-radius: 5px;
  background: $secondary-background-color;
  bottom: 0;
  right: 4rem;
  padding-top: 1.5rem;

  @include transition-setup;
  
  * {
    justify-content: center;
    font-size: 1.1rem;
    font-family: $secondary-font;
    transform: rotate(-$rotate-angle);
  }

  p:nth-child(1) {
    color: transparent;
  }

  p:nth-child(2) {
    text-transform: uppercase;
    color: transparent;
  }
}

.reveal .ContactMe {
  transform: rotate($rotate-angle);
  bottom: 4rem;

  p:nth-child(1) {
    color: $secondary-color;
  }

  p:nth-child(2) {
    color: $highlight-color;
  }
}