@import '../variables.scss';
@import '../mixins.scss';

.Footer {
  position: relative;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-background-color;
  overflow-y: hidden;
  font-size: 1.3rem;
  
  * {
    font-family: $primary-font;
    color: $secondary-color;
  }

  a {
    margin: 0 1.5rem;
    text-decoration: none;
    transition: all .3s linear;
    border-bottom: 1px solid transparent;
    transition: border-color .5s ease;

    &:hover {
      border-color: white;
    }
  }

  &.reveal {
    overflow-y: visible;
  }
}

@include media-query($breakpoint: $breakpoint-md) {
  .Footer {
    height: 3.5rem;

    .ContactMe {
      display: none;
    }
  }
}

@include media-query($breakpoint: $breakpoint-lg) {
  .Footer .ContactMe {
    display: none;
  }
}