@import '../../styles/variables.scss';

.Intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .text-presentation-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: .5rem .5rem 0;
    position: relative;
    
    .details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .full-name, .job-title {
        position: relative;
        font-family: $primary-font;
        opacity: 0;
      }

      .full-name {
        font-size: 2.9rem;
        animation: primary-appearing $animation-duration $animation-function .2s;
        animation-fill-mode: forwards;
      }

      .job-title {
        font-size: 1.9rem;
        animation: primary-appearing $animation-duration $animation-function .5s;
        animation-fill-mode: forwards;
      }
    }

    .quote {
      position: relative;
      justify-self: flex-end;
      color: $highligh-titles-color;
      opacity: 0;
      font-weight: bold;
      font-family: $secondary-font;
      font-size: .7rem;
      animation: quote-appearing $animation-duration $animation-function 1s;
      animation-fill-mode: forwards;
    }
  }

  img {
    position: relative;
    animation: img-appearing $animation-duration $animation-function;
  }

  @keyframes img-appearing {
    from { top: -100vh; opacity: 0; }
    to { top: 0; opacity: 1; }
  }

  @keyframes quote-appearing {
    from { left: -100vw; opacity: 0; }
    to { left: 0; opacity: 1; }
  }
}