@import '../../styles/variables.scss';
@import '../mixins.scss';

.Intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .text-presentation-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: .5rem .5rem 0;
    position: relative;
    
    .details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .full-name, .job-title {
        position: relative;
        font-family: $primary-font;
        opacity: 0;
        bottom: -100vh;
      }

      .full-name {
        font-size: 3rem;
        @include transition-setup($delay: .2s);
      }

      .job-title {
        font-size: 2rem;
        @include transition-setup($delay: .5s);
      }
    }

    .quote {
      position: relative;
      justify-self: flex-end;
      color: $highligh-titles-color;
      opacity: 0;
      left: -100vw;
      font-weight: bold;
      font-family: $secondary-font;
      font-size: .8rem;

      @include transition-setup($delay: .7s);
    }
  }

  img {
    position: relative;
    top: -100vh;
    opacity: 0;

    @include transition-setup;
  }

  &.reveal {
    .text-presentation-container {
      .details .full-name, .job-title {
        opacity: 1;
        bottom: 0;
      }
      img, .quote {
        opacity: 1;
      }
  
      .quote {
        left: 0;
      }
    }

    img {
      top: 0;
      opacity: 1;
    }
  }
}

@include media-query($breakpoint: $breakpoint-md) {
  .Intro {
    height: 100vh;
    flex-direction: column;

    .text-presentation-container {
      order: 2;
      justify-content: center;
      align-items: center;

      .quote {
        font-size: 1.3rem;
      }
    }

    img {
      display: none;
    }

    &.reveal {
      left: 50%;
    }
  }
}