@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Kalam:wght@300&display=swap');

$primary-font: 'Cinzel', sans-serif;
$secondary-font: 'Kalam', sans-serif;

$primary-color: #000;
$secondary-color: #fff;
$highlight-color: #BD00FF;
$highligh-titles-color: #3A2238;

$primary-background-color: #fff;
$secondary-background-color: #3A2238;
$divider-color: rgba(58, 34, 56, .2);
$success-color: rgb(34, 161, 34);

$breakpoint-md: 768px;
$breakpoint-lt: 576px;

$animation-duration: 1.5s;
$animation-function: cubic-bezier(.19, .91, .56, .99);
$transition-duration: 1.5s;
$transition-function: cubic-bezier(.19, .91, .56, .99);

@keyframes primary-appearing {
  from { bottom: -100vh; opacity: 0; }
  to { bottom: 0; opacity: 1; }
}
